        body {
            font-family: 'Chivo Mono', monospace;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            background-color: #24292e;
            color: white;
            padding: 10px;
            text-align: center;
        }

        #carouselExampleIndicators {
            margin-top: -20px;
        }

        .carousel-inner {
            border-radius: 10px;
            overflow: hidden;
        }

        .carousel-item img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .about {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #logo {
            width: 35%;
            height: auto;
            border-radius: 50%;
        }

        .about-text {
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 2em;
            color: black;
        }

        h5 {
            font-size: 1.2em;
            color: #666;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .row {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
        }

        .card {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card img {
            width: 100%;
            height: 280px;
            object-fit: cover;
            border-bottom: 1px solid #eee;
        }

        .card-body {
            padding: 15px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        footer {
            background-color: #24292e;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .handles svg path{
    stroke:#e2e2e2!important;
  }
 


    #btn-back-to-top {
        position: fixed;
        bottom: 60px;
        right: 20px;
        display: none;
        background: #007bff;
      }


      .fade-in {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
    
      .fade-in.in-viewport {
        opacity: 1;
      }

