body {
    font-family: 'Chivo Mono', monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;

}

.msgcontainer {
-ms-overflow-style: none; /* for Internet Explorer, Edge */
scrollbar-width: none; /* for Firefox */
overflow-y: scroll; 
}

.msgcontainer::-webkit-scrollbar {
display: none; /* for Chrome, Safari, and Opera */
}
.main {
    padding: 40px 20px;
    background-color: #1a1a1a;
    box-shadow:20px 27px 6px rgba(0, 0, 0, 0.5);
    width: 80vw;
    margin: 20px auto;
}

.container {
    border: 2px solid #dedede;
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    width: 80%!important;
}

.darker {
    border-color: #ccc;
    background-color: #333;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: right;
    color: #007bff;
}

.msgcontainer {
    height: 450px;
    overflow-y: scroll;
}

#link {
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
#usermsg{
    width: 60vw;
}
.input-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
#submitmsg{
    width: 20vw;
}
@media screen and (max-width:600px) {
    .container{
        margin: 20px 0px;
        width: 100%;
    }
    .main{
        margin: 20px 0px;
        width: 100%;
    }
    
}